PORT=8080
ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=caregames_db
DB_USER=caregames
DB_PASSWORD=caregames_secret
DB_SSL_MODE=disable

API_KEY_PREFIX=cgk_
BCRYPT_COST=10

ALLOWED_ORIGINS=*
RUN_SEED=false